/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 12pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
	max-width: 100%;
	background-image: url('../Images/General Images/Chain_OpendTect.png');
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

img.General_Image
{
	border: none;
	width: auto;
	height: auto;
}

img.Icons
{
	width: 28px;
	height: auto;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	max-width: 28px;
	max-height: 28px;
}

body.background_image
{
	background-repeat: no-repeat;
	background-image: url('../Images/General Images/Chain_OpendTect.png');
}

a.MCBreadcrumbsLink
{
	color: #3cb371;
	font-family: Arial;
	font-size: 1em;
	font-style: italic;
}

MadCap|breadcrumbsProxy
{
	color: #000000;
	font-family: Arial;
	font-style: italic;
	font-size: 0.85em;
	mc-breadcrumbs-count: 7;
	mc-breadcrumbs-prefix: 'You are here: OpendTect 5.0 Doc > ';
}

p.toc_heading
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 24pt;
	font-weight: bold;
	page-break-before: always;
}

body.cover_page
{
	font-family: Arial;
}

@media print
{
	p
	{
		text-align: justify;
	}
}

p.copyright
{
	font-size: inherit;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: Arial;
}

p.caution
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	margin-left: 3em;
	padding-left: 40px;
	background-image: url('../Images/General Images/caution.png');
}

p.note
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	border-bottom-style: none;
	border-style: none;
	margin-left: 3em;
	padding-left: 40px;
	background-image: url('../Images/General Images/note.png');
}

p.tip
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	margin-left: 3em;
	padding-left: 40px;
	background-image: url('../Images/General Images/tip.png');
}

MadCap|miniTocProxy
{
	color: #4169e1;
	font-family: Arial;
	font-size: 1em;
	font-style: italic;
	font-variant: normal;
	mc-toc-depth: 3;
}

p.MiniTOC1
{
	color: #4169e1;
	font-family: Arial;
	font-size: inherit;
	text-decoration: underline;
}

p.note_after
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	font-family: Arial;
	font-size: inherit;
	font-style: italic;
	line-height: 30px;
	margin-left: 3em;
	padding-left: 40px;
}

h1.h2
{
	font-size: 18pt;
}

h1.h3
{
	font-size: 14pt;
}

h1.h4
{
	font-size: 12pt;
}

h1.h5
{
	font-size: 10pt;
}

h1.h6
{
	font-size: 8pt;
}

