/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: normal;
	font-style: italic;
	font-family: Arial;
	font-size: 32pt;
	margin: 20px;
}

h2
{
	font-weight: bold;
	font-size: 22pt;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Arial;
	margin: 20px;
	page-break-before: always;
}

h3
{
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Arial;
	font-size: 20pt;
	margin: 20px;
	page-break-before: always;
}

h4
{
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Arial;
	font-size: 18pt;
	mc-heading-level: 4;
	margin: 20px;
	page-break-before: always;
}

h5
{
	font-weight: bold;
	font-size: 16pt;
	mc-heading-level: 5;
	margin: 20px;
	page-break-before: always;
}

h6
{
	font-weight: bold;
	font-size: 14pt;
	mc-heading-level: 6;
	margin: 20px;
	page-break-before: always;
}

p
{
	font-size: 12pt;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Arial;
	margin: 20px;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

img.General_Image
{
	border: none;
	width: auto;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
	max-width: 100%;
	mc-printer-page-footer-margin: 20px;
	margin: 20px;
}

img.Icons
{
	height: auto;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	width: auto;
	max-width: 20px;
	max-height: 20px;
}

a.MCBreadcrumbsLink
{
	color: #3cb371;
	font-family: Arial;
	font-size: 1em;
	font-style: italic;
}

MadCap|breadcrumbsProxy
{
	color: #000000;
	font-family: Arial;
	font-style: italic;
	font-size: 0.85em;
	mc-breadcrumbs-count: 7;
	font-weight: bold;
	mc-breadcrumbs-prefix: '';
}

p.toc_heading
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 24pt;
	font-weight: bold;
	page-break-before: always;
}

body.cover_page
{
	font-family: Arial;
}

img
{
	
}

@media print
{
	p
	{
		text-align: justify;
	}
}

p.copyright
{
	font-size: inherit;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: Arial;
}

p.note
{
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	border-bottom-style: none;
	border-style: none;
	margin-left: 3em;
	padding-left: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-clip: padding-box;
	background-image: url('../Images/Icons/note.png');
}

MadCap|miniTocProxy
{
	color: #4169e1;
	font-family: Arial;
	font-size: 1em;
	font-style: italic;
	font-variant: normal;
	mc-toc-depth: 3;
}

p.MiniTOC1
{
	color: #4169e1;
	font-family: Arial;
	font-size: inherit;
	text-decoration: underline;
}

p.note_after
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	font-family: Arial;
	font-size: inherit;
	font-style: italic;
	line-height: 30px;
	margin-left: 3em;
	padding-left: 40px;
}

table
{
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 20px;
}

ul.ordered_list > li > ol
{
	list-style-type: decimal;
}

td
{
	border: solid 1px #000000;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

pre
{
	margin-bottom: 20px;
	margin: 20px;
}

ol
{
	margin-left: 20px;
}

ul
{
	margin-left: 20px;
}

MadCap|dropDownBody
{
	margin-top: 20px;
}

MadCap|dropDown
{
	margin-top: 20px;
}

table.noborders
{
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 20px;
	width: 100%;
	margin-left: 0;
	margin-right: auto;
	border: solid 0px #000000;
}

div.pagebreak
{
	page-break-before: always;
}

