/*<meta />*/

body
{
	font-family: Arial;
	font-size: 0.9em;
	background-image: none;
}

h1
{
	font-weight: bold;
	font-size: 1.8em;
	background-image: none;
}

h2
{
	font-weight: bold;
	font-size: 1.60em;
}

h3
{
	font-weight: bold;
	font-size: 1.40em;
}

h4
{
	font-weight: bold;
	font-size: 1.20em;
}

h5
{
	font-weight: bold;
	font-size: 1em;
}

h6
{
	font-weight: bold;
	font-size: 0.8em;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

img.PDF_Images
{
	border: none;
	max-height: auto;
	min-width: auto;
	min-height: auto;
	height: auto;
	width: auto;
	max-width: 100%;
}

object
{
	max-width: 100%;
}

@media print
{
	img.icons
	{
		
	}
}

img.icons
{
	width: 28px;
	height: auto;
}

MadCap|miniTocProxy
{
	font-family: Arial;
	font-style: italic;
	font-variant: normal;
	font-size: 1em;
	color: #4169e1;
}

p.copyright
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	border-top-style: solid;
	border-top-width: 1px;
	background-image: none;
}

p.MiniTOC1
{
	text-decoration: underline;
	color: #4169e1;
	font-family: Arial;
}

MadCap|breadcrumbsProxy
{
	font-family: Arial;
	font-size: 0.8em;
	color: #4169e1;
	font-style: italic;
	line-height: 1em;
}

p.caution
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	background-image: url('../Images/caution.png');
	margin-left: 3em;
	padding-left: 40px;
}

img.PDF_Images_float
{
	border: none;
	max-height: auto;
	min-width: auto;
	min-height: auto;
	height: auto;
	width: auto;
	max-width: 100%;
	float: left;
}

p.note
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	background-image: url('../Images/note.png');
	border-bottom-style: none;
	border-style: none;
	margin-left: 3em;
	padding-left: 40px;
}

p.tip
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: inherit;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-family: Arial;
	font-style: italic;
	line-height: 30px;
	margin-left: 3em;
	padding-left: 40px;
	background-image: url('../Images/tip.png');
}

